@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');


*{
    color: #ffffff;
    font-family: 'Lora';
    background-image: url(https://images2.alphacoders.com/102/1020353.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.body{
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

header{
    position: relative;
    padding: 0 5px;
    background-color: transparent;
    transition: all 1s ease-in-out;
}

.navbar_2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.nav_3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.data{
    display: flex;
    justify-content: space-around;
    padding: 10%;
    
}

.contacAndIcons{
    display: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insertdata{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

a{
    padding: 25px;
    text-decoration: none;
    color: #fff;

}

input{
    background: transparent;
    color: #fff;
    margin: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 300px;
}

.Send{
    border-radius: 25%;
    margin-top: 10px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
}


